*{
    margin: 0;
   
}


nav{
   
    background-color:#f7f5e7;
    height: 85px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0%;
    opacity: 0.9;
    
    
}
.logo>img{
    max-width: 90px;
    height: 70px;  
}
nav>.bar{
    display: flex;
    align-items: center;
}

nav>.bar>.menu>ul>li{
    display: inline;
   
    
    
}
nav>.bar>.menu>ul>li>a{
    text-decoration: none;
    color: black;
    margin-right: 18px;
    margin-left: 18px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
}
nav>.bar>.button{
    background-color: black;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;

}
nav>.bar>.button:hover{
    background-color:#e78f24;
}
header{
    height: 100vh;
    background-image: url(headerimage.png);
    background-repeat:no-repeat;
    background-size:cover;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
   
    
   
}
.image-section{
    padding-left: 60px;
    
   
}
.image-section>.header-title{
    font-family: 'Montserrat';
    font-size: 225%;
    text-shadow: black;
    line-height: 1.5;
    font-weight: 700;
    color: #ffffff;
    

}
.image-section>.header-subtitle{
    font-family: 'Open Sans';
    font-size: 112.5%;
    text-shadow:black;
    line-height: 1.6;
    font-weight: 500;
    color: RGBA(255,255,255,0.8);
    

}
.image-section>.header-button>#submit{
    background-color: black;
    color: white;
    padding: 1em 2em 1em 2em;
    border-radius: 3px;
    opacity: 1;
    border : 0px solid RGBA(0,0,0,1);
    font-family:sans-serif;
    line-height: 1.6;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 90.5%;
    margin-top: 20px;
    
    
}
.section1{
     height: auto;
    background-color: #f7f5e7;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: space-evenly;
    align-items:start;
    padding-top: 100px;
    padding-left: 10px;
    flex-wrap: wrap;

    
}



.section1>.text{
    width: 100%;
    max-width: 500px;
    font-family:sans-serif;
    line-height: 2.5em;
    letter-spacing: 2px;
    font-size: 25px;
    text-align: start;
}

.section1>.super-circle-image{
   width: 100%;
    background-color: #f9e2c6;
    border-radius: 50%;
   max-width: 650px;
   height: 650px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid black;
   border-style: dashed;
}
.section1>.super-circle-image>.circle-image{
    background-color: #e78f24;
    border-radius: 50%;
    width: 550px;
    height: 550px;
   

}
.section1>.super-circle-image>.circle-image>#girl{
    padding-left: 20%

}
.section1>.text>p{
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 400;
  color: #848484;
}
.section1>.text>.section1-row{
    display:  flex;
    justify-content: start;
    margin-top: 20px;
    

}

#section1-submit{
    display: flex;
    border : 0px solid RGBA(0,0,0,1);
    column-gap: 2px;
    font-family:sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: black;
    border-radius: 50px 50px 50px 50px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    }
#section1-submit>.learnmore{
    text-decoration: none;
    color: white;

}
.section1>.text>.section1-row>.watch{
    text-decoration: none;
    font-size: 16px;
    color: #848484;
    margin-left: 50px;
    
}
.section2{
    
    height: auto;
    background-color: #e78f24;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 100px;
    
}
.section2>.title{
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 50px 50px 50px 50px;
    margin: 0px 0px 20px 0px;
    color: #e78f24;
    font-size: 16;
    font-family: "Montserrat";
}
.section2>.heading{
    font-family: 'Montserrat';
   
    color: white;
    padding: 0% 27% 0% 27%;
    text-align: center;
    margin-bottom: 1em;
}
.section2>.section2-subheading{
    font-weight: 600;
    color: white;
    padding: 0% 27% 0% 27%;
    text-align: center;
    margin-bottom: 1.75em;
}
.section2>.section2-row{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.section2>.section2-row>.section2-services{
    
    background-color: #f7f5e7;
    width: 300px;
    padding: 50px 40px 50px 40px;
    text-align: center;
    justify-content: center;

}
.section2>.section2-row>.section2-services>#section2-submit{
    background-color: black;
     display: flex;
     justify-content: center;
     text-align: center;
     column-gap: 5px;
     align-items: center;
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    opacity: 1;
    border : 0px solid RGBA(0,0,0,1);
    font-family:sans-serif;
    margin-top: 20px;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;

}
#section2-submit>.learnmore{
    text-decoration: none;
    color: white;

}
.section2>.section2-row>.section2-services>.heading{
   
   margin-bottom: 15px;
    

}
.section2>.section2-row>.section2-services>p{
   
    color: #848484;
    

}

.section2>#submit{
    background-color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    opacity: 1;
    border : 0px solid RGBA(0,0,0,1);
    font-family:sans-serif;
    line-height: 1.6;
    font-weight: 600;
    font-size: 90.5%;
    margin-top: 20px;
    display: flex;
    column-gap: 5px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.section2>#submit>.learnmore{
    text-decoration: none;
    color: white;
   
}
.section3{
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-top: 100px;
    column-gap: 50px;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-bottom: 40px;
}
.section3>.circle-image{
    background-color: #e78f24;
    border-radius: 50%;
    max-width: 550px;
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
   

}
.section3>.text{
    width: 100%;
    max-width: 500px;
    font-family:sans-serif;
    line-height: 1.5em;
    letter-spacing: 2px;
    font-size: 25px;
    text-align: start;
}
.section3>.text>p{
    line-height: 1.6em;
    font-size: 16px;
    font-weight: 400;
    color: #848484;
  }
  .section3>.text>.section3-row{
      display:  flex;
      justify-content: start;
      margin-top: 20px;
      
  
  }
  
  #section3-submit{
      display: flex;
      border : 0px solid RGBA(0,0,0,1);
      column-gap: 2px;
      font-family:sans-serif;
      font-weight: 600;
      font-size: 16px;
      background-color: black;
      border-radius: 50px 50px 50px 50px;
      padding-left: 15px;
      padding-right: 15px;
      justify-content: center;
      align-items: center;
      }
      .section4{
    
        height: auto;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 20px;
        
        
    }
    .section4>.title{
        background-color: #ffd9aa;
        padding: 10px 15px 10px 15px;
        border-radius: 50px 50px 50px 50px;
        margin: 0px 0px 20px 0px;
        color: #e78f24;
        font-size: 16;
        font-family: "Montserrat";
    }
    .section4>.heading{
        font-family: 'Montserrat';
       
        color: black;
        padding: 0% 27% 0% 27%;
        text-align: center;
        margin-bottom: 1em;
    }
    .section4>.section4-subheading{
        font-weight: 600;
        color: black;
        padding: 0% 27% 0% 27%;
        text-align: center;
        margin-bottom: 1.75em;
    }
    .section4>.section4-row{
        display: flex;
       flex-direction: row;
        column-gap: 20px;
        row-gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .section4>.section4-row>.section4-services{
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
        width: 300px;
        padding: 20px 20px 20px 20px;
        
        
       
    
    }
    .section4>.section4-row>.section4-services>.heading{
        
        margin-top: 20px;
        margin-top: 10px;
        font-family: sans-serif;
        text-align: left;
        font-weight: 800;

    
    }
    .section4>.section4-row>.section4-services>.myimage{
        
    box-sizing: border-box;
    position: relative;
    width: 300px;
    
    }
    .section4>.section4-row>.section4-services>#section4-submit{
        background-color: black;
         display: flex;
         justify-content: center;
         text-align: center;
         column-gap: 5px;
         align-items: center;
        padding: 7px 15px 7px 15px;
        border-radius: 5px;
        opacity: 1;
        border : 0px solid RGBA(0,0,0,1);
        font-family:sans-serif;
        margin-top: 20px;
        width: auto;
       
    
    }
    #section4-submit>.learnmore{
        text-decoration: none;
        color: white;
    
    }
    .section4>#submit{
        background-color: black;
        padding: 10px 20px 10px 20px;
        border-radius: 50px;
        opacity: 1;
        border : 0px solid RGBA(0,0,0,1);
        font-family:sans-serif;
        line-height: 1.6;
        font-weight: 600;
        font-size: 90.5%;
        margin-top: 20px;
        display: flex;
        column-gap: 5px;
        margin-bottom: 50px;
        margin-top: 50px;
        
    }
    .section4>#submit>.learnmore{
        text-decoration: none;
        color: white;
       
    }
    .section4>.section4-row>.section4-services>.heading{
       
       margin-bottom: 15px;
        
    
    }
.section5{
    
    height: auto;
    background-color: #e78f24;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    
}
.section5>.title{
    background-color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 50px 50px 50px 50px;
    margin: 0px 0px 20px 0px;
    color: #e78f24;
    font-size: 16;
    font-family: "Montserrat";
}
.section5>.heading{
    font-family: 'Montserrat';
    color: white;
    padding: 0% 27% 0% 27%;
    text-align: center;
    margin-bottom: 1em;
}
.section5>.section5-subheading{
    font-weight: 600;
    color: white;
    padding: 0% 27% 0% 27%;
    text-align: center;
    margin-bottom: 1.75em;
}
.section5>.section5-row{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.section5>.section5-row>.section5-services{
    
    background-color: white;
    width: 300px;
    border: 5px solid black;
    text-align: center;
    justify-content: center;
    height: 400px;
    overflow-y: scroll;
    
   
   
   
   

}
.section5>.section5-row>.section5-services>.section5-image{
    
  
 max-width: 100%;
 height: auto;
 
    

}
.section5>#submit{
    background-color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    opacity: 1;
    border : 0px solid RGBA(0,0,0,1);
    font-family:sans-serif;
    line-height: 1.6;
    font-weight: 600;
    font-size: 90.5%;
    margin-top: 20px;
    display: flex;
    column-gap: 5px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.section5>#submit>.learnmore{
    text-decoration: none;
    color: white;
   
}
.section6{
     height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: space-evenly;
    align-items:start;
    padding-top: 100px;
    padding-left: 10px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.section6>.section6-row{
    
    height: auto;
    display: flex;
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-top: 50px;
    padding-bottom: 20px;
    
    
}
.section6>.section6-row>.title{
    background-color: #ffd9aa;
    padding: 10px 15px 10px 15px;
    border-radius: 50px 50px 50px 50px;
    margin: 0px 0px 20px 0px;
    color: #e78f24;
    font-size: 16;
    font-family: "Montserrat";
}
.section6>.section6-row>.heading{
    font-family: 'Montserrat';
    color: black;
    
    text-align: start;
    margin-bottom: 1em;
}
.section6>.section6-row>.section6-subheading{
    font-weight: 600;
    color: black;
    text-align: start;
    margin-bottom: 1.75em;
}
.section6>.myform>.r1{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin: 10px;
}
.section6>.myform>.r1>div>.label{
   margin-left: 7px;
 }
.section6>.myform>.r1>div>.textform{
   border-radius: 15px;
   padding: 20px;
   border: 1px solid white;
   background-color: #f6f7fa;
   color: #808285;
}
.section6>.myform>.section6-submit{
    background-color: black;
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    border-radius: 15px;
    opacity: 1;
    border : 0px solid RGBA(0,0,0,1);
    font-family:sans-serif;
    line-height: 1.6;
    font-weight: 600;
    font-size: 90.5%;
    margin-top: 20px;
    display: flex;
    width: 120px;
    column-gap: 5px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.section6>.myform>.section6-submit>.learnmore{
    text-decoration: none;
    color: white;
   
}
.section7{
    width: 300px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    margin-left: 30px;
    align-items: center;
    height: auto;
    margin-bottom: 50px;
    
}
.section7>.sec7-img{
    object-fit: cover;
   width: 300px;
   height: 150px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.footer1{
    height: auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    
    padding: 50px;
    padding-bottom: 30px;
}
.footer1>.footer-div{
    color: #e78f24;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
   
}
.footer1>.footer-div>.values{
   display: flex;
   align-items: center;
   justify-content: start;
  row-gap: 10px;
   color: white;
   column-gap: 10px;
   margin-top: 20px;
}
.footer2{
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 50px;
    padding-bottom: 50px;
}
.footer2>.text{
    margin-top: 20px;
    text-align: center;
    color: #808285;
    margin-bottom: 30px;
}

