#heading{
    height: 50px;
    background-color: aqua;
 }
 li{
     list-style-type: none;
     display: inline;
     
 }
 
#block{
    width: 30%;
    text-align: justify;
    background-color: aquamarine;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
    float:left;
}
